<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="MovieDBContext" connectionString="server=localhost;User Id=root;database=test;logging=true; port=3305;" providerName="MySql.Data.MySqlClient" />
    <add name="MovieCodedBasedConfigDBContext" connectionString="server=localhost;User Id=root;database=test;logging=true; port=3305;" providerName="MySql.Data.MySqlClient" />
    <add name="VehicleDbContext" connectionString="server=localhost;User Id=root;database=test; port=3305;" providerName="MySql.Data.MySqlClient" />
    <add name="VehicleDbContext2" connectionString="server=localhost;User Id=root;database=test; port=3305;" providerName="MySql.Data.MySqlClient" />
    <add name="VehicleDbContext3" connectionString="server=localhost;User Id=root;database=test; port=3305;" providerName="MySql.Data.MySqlClient" />
    <add name="ProductsDbContext" connectionString="server=localhost;User Id=root;database=test; port=3305;ConvertZeroDateTime=true;" providerName="MySql.Data.MySqlClient" />
    <add name="ShortDbContext" connectionString="server=localhost;User Id=root;database=test; port=3305;" providerName="MySql.Data.MySqlClient" />
    <add name="DinosauriaDBContext" connectionString="server=localhost;User Id=root;database=test; port=3305;" providerName="MySql.Data.MySqlClient" />
    <add name="ShipContext" connectionString="server=localhost;User Id=root;database=test; port=3305" providerName="MySql.Data.MySqlClient" />
    <add name="SiteDbContext" connectionString="server=localhost;User Id=root;database=test; port=3305" providerName="MySql.Data.MySqlClient" />
    <add name="PromotionsDB" connectionString="server=localhost;User Id=root;database=test; port=3305" providerName="MySql.Data.MySqlClient" />
    <add name="EnumTestSupportContext" connectionString="server=localhost;User Id=root;database=test; port=3305" providerName="MySql.Data.MySqlClient" />
    <add name="JourneyContext" connectionString="server=localhost;User Id=root;database=test; port=3305" providerName="MySql.Data.MySqlClient" />
    <add name="EntityAndComplexTypeContext" connectionString="server=localhost;User Id=root;database=test; port=3305" providerName="MySql.Data.MySqlClient" />
    <add name="AutoIncrementBugContext" connectionString="server=localhost;User Id=root;database=test; port=3305" providerName="MySql.Data.MySqlClient" />
    <add name="SakilaDb" connectionString="server=localhost;user id=root;database=sakila; port=3305;" providerName="MySql.Data.MySqlClient" />
    <add name="UsingUnionContext" connectionString="server=localhost;user id = root; database=test; port= 3305;" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
</configuration>