<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources> 
    <add key="NuGet" value="https://api.nuget.org/v3/index.json" />
    <add key="EFRC2" value="https://www.myget.org/F/aspnetrc2/api/v3/index.json" />
    <add key="AspNetVNext" value="https://www.myget.org/F/aspnetcidev/api/v3/index.json" />
    <add key="Aspnet1" value="https://dotnet.myget.org/F/aspnet1/api/v3/index.json" />    
    <add key="Vitro48" value="http://vitro48.no.oracle.com/NugetServer/nuget" />
  </packageSources>  
</configuration>