<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections></configSections>
  <connectionStrings>
    <add name="BlogsContext" connectionString="server=localhost;User Id=root;database=test;port=3305;" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
</configuration>