*.obj
*.csproj.user
*.vcxproj.user
*.ipch
*.suo
*.sdf
*.diff
*check.py
.bzrignore
**/obj/**
**/bin/**
**/bin
**/obj
**/tmp
**/.vs
MySql.Data/Provider/MySql.Data.xml
MySql.VisualStudio/Documentation/Build
MySql.Data.Entity/Tests/Service References
**/*.InstallLog
UpgradeLog.XML
**/UpgradeLog*.*
Documention/Output/**
**/bin-4.0/**
**/bin-4.0
Documentation/Output
_UpgradeReport_Files
VS.targets
**/*.sln.cache
**/ProjectTemplatesZipFolder/**
**/ItemTemplatesZipFolder/**
**/.bzr-mysql/**
**/packages/**
XShellClient/Debug/
XShellClient/XShellClientMgd/Debug/
XShellClient/XShellClientMgd/Release/
XShellClient/Release/
XShellClient/ipch/
XShellClient.VC.db