<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.data>
    <DbProviderFactories>
      <clear />
      <add name="MySql" invariant="MySql.Data.MySqlClient" description="boo" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data" />
    </DbProviderFactories>
  </system.data>
  <appSettings>
    <add key="rootuser" value="root"/>
    <add key="rootpassword" value=""/>
    <add key="host" value="localhost"/>
    <add key="port" value="3305"/>
    <add key="pipename" value="MYSQL55"/>
    <add key="memory_name" value="MYSQL55"/>
  </appSettings>
  <connectionStrings>
    <add name="testEntities" connectionString="metadata=res://*/TestModel.csdl|res://*/TestModel.ssdl|res://*/TestModel.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;Data Source=localhost;database=test;uid=root;logging=true;pooling=false;port=3305&quot;"
      providerName="System.Data.EntityClient" />
    <add name="Model1Container" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;Data Source=localhost;database=modeldb;uid=test;password=test;pooling=false;port=3305&quot;"
      providerName="System.Data.EntityClient" />
    <add name="model2Entities" connectionString="metadata=res://*/Model2.csdl|res://*/Model2.ssdl|res://*/Model2.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;Data Source=localhost;user id=root;database=test;pooling=false;port=3305&quot;"
      providerName="System.Data.EntityClient" />
    <add name="testEntities1" connectionString="metadata=res://*/Model3.csdl|res://*/Model3.ssdl|res://*/Model3.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;User Id=root;database=test;port=3305&quot;"
      providerName="System.Data.EntityClient" />
    <add name="mybooksEntities" connectionString="metadata=res://*/BooksModel.csdl|res://*/BooksModel.ssdl|res://*/BooksModel.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=Localhost;User Id=root;database=test;port=3305&quot;"
      providerName="System.Data.EntityClient" />
    <add name="ModelFirstModel1Container" connectionString="metadata=res://*/ModelFirstModel1.csdl|res://*/ModelFirstModel1.ssdl|res://*/ModelFirstModel1.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=Localhost;User Id=root;database=test;port=3305&quot;"
      providerName="System.Data.EntityClient" />
    <add name="datesTypesEntities" connectionString="metadata=res://*/DatesTypesModel.csdl|res://*/DatesTypesModel.ssdl|res://*/DatesTypesModel.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;User Id=root;database= test_types;3305&quot;"
      providerName="System.Data.EntityClient" />
    <add name="BlogContext" connectionString="server=localhost;User Id=root;database=test;port=3305;"
      providerName="MySql.Data.MySqlClient" />
    <add name="LocalMySqlServer" connectionString="server=localhost;uid=test;password=test;database=db676-a;pooling=false;port=3305" />
  </connectionStrings>
  <system.web>
    <membership defaultProvider="MySQLMembershipProvider">
      <providers>
        <add connectionStringName="LocalMySqlServer" enablePasswordRetrieval="false"
          enablePasswordReset="true" requiresQuestionAndAnswer="true"
          applicationName="/" requiresUniqueEmail="false" passwordFormat="Hashed"
          maxInvalidPasswordAttempts="5" minRequiredPasswordLength="7"
          minRequiredNonalphanumericCharacters="1" passwordAttemptWindow="10"
          passwordStrengthRegularExpression="" name="MySQLMembershipProvider"
          type="MySql.Web.Security.MySQLMembershipProvider, MySql.Web" />
      </providers>
    </membership>
    <roleManager enabled="true" defaultProvider="MySQLRoleProvider">
      <providers>
        <add connectionStringName="LocalMySqlServer" applicationName="/"
          name="MySQLRoleProvider" type="MySql.Web.Security.MySQLRoleProvider, MySql.Web" />
      </providers>
    </roleManager>
    <machineKey validationKey="AutoGenerate" decryptionKey="ABAA84D7EC4BB56D75D217CECFFB9628809BDB8BF91CFCD64568A145BE59719F" validation="SHA1" decryption="AES" />

    <profile defaultProvider="MySqlProfileProvider">
      <providers>
        <clear/>
        <add name="MySqlProfileProvider" connectionStringName="LocalMySqlServer"
             applicationName="/" type="MySql.Web.Profile.MySQLProfileProvider, mysql.web"/>
      </providers>
      <properties>
        <add name="Name"/>
        <add name="FavoriteColors" type="System.Collections.Specialized.StringCollection, system, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" serializeAs="Xml" />
        <add name="Weight" type="System.Int32"/>
        <add name="BirthDate" type="System.DateTime"/>
        <add name="HasDefault" type="System.String" defaultValue="mydefault"/>
        <add name="ReadOnly" type="System.Int32" readOnly="true" />
      </properties>
    </profile>
  </system.web>
</configuration>