<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <!--<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />-->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
  </configSections>
  <system.data>
    <DbProviderFactories>
      <clear />
      <add name="MySql" invariant="MySql.Data.MySqlClient" description="boo" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data" />
    </DbProviderFactories>
  </system.data>
  <connectionStrings>
    <add name="testEntities" connectionString="metadata=res://*/v4.x.TestModel.csdl|res://*/v4.x.TestModel.ssdl|res://*/v4.x.TestModel.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;Data Source=localhost;database=test;uid=root;logging=true;pooling=false;port=3305&quot;" providerName="System.Data.EntityClient" />
    <add name="Model1Container" connectionString="metadata=res://*/v4.x.Model1.csdl|res://*/v4.x.Model1.ssdl|res://*/v4.x.Model1.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;Data Source=localhost;database=modeldb;uid=test;password=test;pooling=false;port=3305&quot;" providerName="System.Data.EntityClient" />
    <add name="model2Entities" connectionString="metadata=res://*/v4.x.Model2.csdl|res://*/v4.x.Model2.ssdl|res://*/v4.x.Model2.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;Data Source=localhost;user id=root;database=test;pooling=false;port=3305&quot;" providerName="System.Data.EntityClient" />
    <add name="testEntities1" connectionString="metadata=res://*/v4.x.Model3.csdl|res://*/v4.x.Model3.ssdl|res://*/v4.x.Model3.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;User Id=root;database=test;port=3305&quot;" providerName="System.Data.EntityClient" />
    <add name="mybooksEntities" connectionString="metadata=res://*/v4.x.BooksModel.csdl|res://*/v4.x.BooksModel.ssdl|res://*/v4.x.BooksModel.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=Localhost;User Id=root;database=test;port=3305&quot;" providerName="System.Data.EntityClient" />
    <add name="ModelFirstModel1Container" connectionString="metadata=res://*/v4.x.ModelFirstModel1.csdl|res://*/v4.x.ModelFirstModel1.ssdl|res://*/v4.x.ModelFirstModel1.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=Localhost;User Id=root;database=test;port=3305&quot;" providerName="System.Data.EntityClient" />
    <add name="datesTypesEntities" connectionString="metadata=res://*/v4.x.DatesTypesModel.csdl|res://*/v4.x.DatesTypesModel.ssdl|res://*/v4.x.DatesTypesModel.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;User Id=root;database= test_types;port=3305&quot;" providerName="System.Data.EntityClient" />
    <add name="ReservedWordColumnName" connectionString="metadata=res://*/v4.x.ReservedWordColumnName.csdl|res://*/v4.x.ReservedWordColumnName.ssdl|res://*/v4.x.ReservedWordColumnName.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;user id=root;persistsecurityinfo=True;port=3305;database=test_db&quot;" providerName="System.Data.EntityClient" />
    <add name="ReservedWordColumnNameContainer" connectionString="metadata=res://*/v4.x.ReservedWordColumnName.csdl|res://*/v4.x.ReservedWordColumnName.ssdl|res://*/v4.x.ReservedWordColumnName.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;user id=root;persistsecurityinfo=True;port=3305;database=test_db&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <!--<defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />-->
  </entityFramework>
</configuration>