<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    <membership defaultProvider="MySQLMembershipProvider">
      <providers>
        <add connectionStringName="LocalMySqlServer" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="true" applicationName="/" requiresUniqueEmail="false" passwordFormat="Hashed" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="7" minRequiredNonalphanumericCharacters="1" passwordAttemptWindow="10" passwordStrengthRegularExpression="" name="MySQLMembershipProvider" type="MySql.Web.Security.MySQLMembershipProvider, MySql.Web" />
      </providers>
    </membership>
    <roleManager enabled="true" defaultProvider="MySQLRoleProvider">
      <providers>
        <add connectionStringName="LocalMySqlServer" applicationName="/" name="MySQLRoleProvider" type="MySql.Web.Security.MySQLRoleProvider, MySql.Web" />
      </providers>
    </roleManager>
    <machineKey validationKey="AutoGenerate" decryptionKey="ABAA84D7EC4BB56D75D217CECFFB9628809BDB8BF91CFCD64568A145BE59719F" validation="SHA1" decryption="AES" />

    <profile defaultProvider="MySQLProfileProvider">
      <providers>
        <clear />
        <add name="MySqlProfileProvider" connectionStringName="LocalMySqlServer" applicationName="/" type="MySql.Web.Profile.MySQLProfileProvider, mysql.web" />
      </providers>
      <properties>
        <add name="Name" />
        <add name="FavoriteColors" type="System.Collections.Specialized.StringCollection, system, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" serializeAs="Xml" />
        <add name="Weight" type="System.Int32" />
        <add name="BirthDate" type="System.DateTime" />
        <add name="HasDefault" type="System.String" defaultValue="mydefault" />
        <add name="ReadOnly" type="System.Int32" readOnly="true" />
        <!--<add name="StudentInfo" type="StudentInfo" serializeAs="Binary"/>-->
      </properties>
    </profile>
	<webParts>
      <personalization defaultProvider="MySQLPersonalizationProvider">
        <providers>
          <add name="MySQLPersonalizationProvider" type="MySql.Web.MySQLPersonalizationProvider, mysql.web" />
        </providers>
      </personalization>
    </webParts>	
  </system.web>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Configuration.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.1.0" newVersion="1.1.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
